.form {
    padding: 30px 40px;
}

.trip-selector {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 550px;
    max-width: 80%;
    overflow: hidden;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px 10px;
}

h2 {
    text-align: center;
    margin: inherit;
}
